# Setup

In [15]:
import pandas as pd
import numpy as np

# Import Data

In [24]:
path = './data_files/{}'

player_adv_df = pd.read_csv(path.format('2019-20_player_adv.csv'))
player_tot_df = pd.read_csv(path.format('2019-20_player_traditonal_totals.csv'))
team_adv_df = pd.read_csv(path.format('2019-20_team_adv.csv'))
team_tot_df = pd.read_csv(path.format('2019-20_team_totals.csv'))
team_opp_tot_df = pd.read_csv(path.format('2019-20_opp_totals.csv'))

In [17]:
player_adv_df.columns

Index(['Unnamed: 0', 'PLAYER_ID', 'PLAYER_NAME', 'TEAM_ID',
       'TEAM_ABBREVIATION', 'AGE', 'GP', 'W', 'L', 'W_PCT', 'MIN',
       'E_OFF_RATING', 'OFF_RATING', 'sp_work_OFF_RATING', 'E_DEF_RATING',
       'DEF_RATING', 'sp_work_DEF_RATING', 'E_NET_RATING', 'NET_RATING',
       'sp_work_NET_RATING', 'AST_PCT', 'AST_TO', 'AST_RATIO', 'OREB_PCT',
       'DREB_PCT', 'REB_PCT', 'TM_TOV_PCT', 'E_TOV_PCT', 'EFG_PCT', 'TS_PCT',
       'USG_PCT', 'E_USG_PCT', 'E_PACE', 'PACE', 'PACE_PER40', 'sp_work_PACE',
       'PIE', 'POSS', 'FGM', 'FGA', 'FGM_PG', 'FGA_PG', 'FG_PCT', 'GP_RANK',
       'W_RANK', 'L_RANK', 'W_PCT_RANK', 'MIN_RANK', 'E_OFF_RATING_RANK',
       'OFF_RATING_RANK', 'sp_work_OFF_RATING_RANK', 'E_DEF_RATING_RANK',
       'DEF_RATING_RANK', 'sp_work_DEF_RATING_RANK', 'E_NET_RATING_RANK',
       'NET_RATING_RANK', 'sp_work_NET_RATING_RANK', 'AST_PCT_RANK',
       'AST_TO_RANK', 'AST_RATIO_RANK', 'OREB_PCT_RANK', 'DREB_PCT_RANK',
       'REB_PCT_RANK', 'TM_TOV_PCT_RANK', 'E_TOV_PCT_RANK', 'EFG_PCT_RANK',
       'TS_PCT_RANK', 'USG_PCT_RANK', 'E_USG_PCT_RANK', 'E_PACE_RANK',
       'PACE_RANK', 'sp_work_PACE_RANK', 'PIE_RANK', 'FGM_RANK', 'FGA_RANK',
       'FGM_PG_RANK', 'FGA_PG_RANK', 'FG_PCT_RANK', 'CFID', 'CFPARAMS'],
      dtype='object')

In [18]:
player_adv_df[['PLAYER_NAME', 'PACE']]

           PLAYER_NAME    PACE
0         Aaron Gordon   99.07
1        Aaron Holiday   99.80
2          Abdel Nader  101.60
3          Adam Mokoka  102.39
4    Admiral Schofield  103.17
..                 ...     ...
505        Zach LaVine  100.92
506   Zach Norvell Jr.  107.05
507       Zhaire Smith  107.63
508    Zion Williamson  106.84
509     Zylan Cheatham  100.14

[510 rows x 2 columns]

In [19]:
player_tot_df.columns

Index(['Unnamed: 0', 'PLAYER_ID', 'PLAYER_NAME', 'TEAM_ID',
       'TEAM_ABBREVIATION', 'AGE', 'GP', 'W', 'L', 'W_PCT', 'MIN', 'FGM',
       'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT',
       'OREB', 'DREB', 'REB', 'AST', 'TOV', 'STL', 'BLK', 'BLKA', 'PF', 'PFD',
       'PTS', 'PLUS_MINUS', 'NBA_FANTASY_PTS', 'DD2', 'TD3', 'GP_RANK',
       'W_RANK', 'L_RANK', 'W_PCT_RANK', 'MIN_RANK', 'FGM_RANK', 'FGA_RANK',
       'FG_PCT_RANK', 'FG3M_RANK', 'FG3A_RANK', 'FG3_PCT_RANK', 'FTM_RANK',
       'FTA_RANK', 'FT_PCT_RANK', 'OREB_RANK', 'DREB_RANK', 'REB_RANK',
       'AST_RANK', 'TOV_RANK', 'STL_RANK', 'BLK_RANK', 'BLKA_RANK', 'PF_RANK',
       'PFD_RANK', 'PTS_RANK', 'PLUS_MINUS_RANK', 'NBA_FANTASY_PTS_RANK',
       'DD2_RANK', 'TD3_RANK', 'CFID', 'CFPARAMS'],
      dtype='object')

In [20]:
player_tot_df[['PLAYER_NAME', 'PTS']]

           PLAYER_NAME   PTS
0         Aaron Gordon   756
1        Aaron Holiday   506
2          Abdel Nader   246
3          Adam Mokoka    20
4    Admiral Schofield    83
..                 ...   ...
505        Zach LaVine  1504
506   Zach Norvell Jr.    10
507       Zhaire Smith     8
508    Zion Williamson   303
509     Zylan Cheatham     4

[510 rows x 2 columns]

In [21]:
team_adv_df.columns

Index(['Unnamed: 0', 'TEAM_ID', 'TEAM_NAME', 'GP', 'W', 'L', 'W_PCT', 'MIN',
       'E_OFF_RATING', 'OFF_RATING', 'E_DEF_RATING', 'DEF_RATING',
       'E_NET_RATING', 'NET_RATING', 'AST_PCT', 'AST_TO', 'AST_RATIO',
       'OREB_PCT', 'DREB_PCT', 'REB_PCT', 'TM_TOV_PCT', 'EFG_PCT', 'TS_PCT',
       'E_PACE', 'PACE', 'PACE_PER40', 'POSS', 'PIE', 'GP_RANK', 'W_RANK',
       'L_RANK', 'W_PCT_RANK', 'MIN_RANK', 'OFF_RATING_RANK',
       'DEF_RATING_RANK', 'NET_RATING_RANK', 'AST_PCT_RANK', 'AST_TO_RANK',
       'AST_RATIO_RANK', 'OREB_PCT_RANK', 'DREB_PCT_RANK', 'REB_PCT_RANK',
       'TM_TOV_PCT_RANK', 'EFG_PCT_RANK', 'TS_PCT_RANK', 'PACE_RANK',
       'PIE_RANK', 'CFID', 'CFPARAMS'],
      dtype='object')

In [26]:
calc_team_poss_df = team_adv_df[['TEAM_NAME','GP', 'PACE']].copy()

In [27]:
calc_team_poss_df['tot_poss'] = team_adv_df.GP * team_adv_df.PACE

In [28]:
calc_team_poss_df

                 TEAM_NAME  GP    PACE  tot_poss
0            Atlanta Hawks  60  103.44   6206.40
1           Boston Celtics  58  100.00   5800.00
2            Brooklyn Nets  57  101.58   5790.06
3        Charlotte Hornets  58   96.66   5606.28
4            Chicago Bulls  59  100.57   5933.63
5      Cleveland Cavaliers  58   99.24   5755.92
6         Dallas Mavericks  59   99.68   5881.12
7           Denver Nuggets  58   97.59   5660.22
8          Detroit Pistons  60   98.22   5893.20
9    Golden State Warriors  58  101.16   5867.28
10         Houston Rockets  58  103.87   6024.46
11          Indiana Pacers  58   98.87   5734.46
12             LA Clippers  58  102.64   5953.12
13      Los Angeles Lakers  56  100.99   5655.44
14       Memphis Grizzlies  58  103.56   6006.48
15              Miami Heat  58   98.71   5725.18
16         Milwaukee Bucks  58  105.38   6112.04
17  Minnesota Timberwolves  57  103.63   5906.91
18    New Orleans Pelicans  58  103.76   6018.08
19         New York Knicks  58   99.21   5754.18
20   Oklahoma City Thunder  58   99.19   5753.02
21           Orlando Magic  58   98.31   5701.98
22      Philadelphia 76ers  59   99.71   5882.89
23            Phoenix Suns  59  101.85   6009.15
24  Portland Trail Blazers  59  101.26   5974.34
25        Sacramento Kings  57   98.93   5639.01
26       San Antonio Spurs  57  100.62   5735.34
27         Toronto Raptors  58  100.84   5848.72
28               Utah Jazz  58   99.24   5755.92
29      Washington Wizards  57  103.67   5909.19

In [23]:
team_tot_df.columns

Index(['Unnamed: 0', 'TEAM_ID', 'TEAM_NAME', 'GP', 'W', 'L', 'W_PCT', 'MIN',
       'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA',
       'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'TOV', 'STL', 'BLK', 'BLKA',
       'PF', 'PFD', 'PTS', 'PLUS_MINUS', 'GP_RANK', 'W_RANK', 'L_RANK',
       'W_PCT_RANK', 'MIN_RANK', 'FGM_RANK', 'FGA_RANK', 'FG_PCT_RANK',
       'FG3M_RANK', 'FG3A_RANK', 'FG3_PCT_RANK', 'FTM_RANK', 'FTA_RANK',
       'FT_PCT_RANK', 'OREB_RANK', 'DREB_RANK', 'REB_RANK', 'AST_RANK',
       'TOV_RANK', 'STL_RANK', 'BLK_RANK', 'BLKA_RANK', 'PF_RANK', 'PFD_RANK',
       'PTS_RANK', 'PLUS_MINUS_RANK', 'CFID', 'CFPARAMS'],
      dtype='object')

In [25]:
team_tot_df[['TEAM_NAME', 'PTS']]

                 TEAM_NAME   PTS
0            Atlanta Hawks  6643
1           Boston Celtics  6578
2            Brooklyn Nets  6297
3        Charlotte Hornets  5933
4            Chicago Bulls  6296
5      Cleveland Cavaliers  6182
6         Dallas Mavericks  6881
7           Denver Nuggets  6418
8          Detroit Pistons  6463
9    Golden State Warriors  6147
10         Houston Rockets  6899
11          Indiana Pacers  6341
12             LA Clippers  6705
13      Los Angeles Lakers  6430
14       Memphis Grizzlies  6540
15              Miami Heat  6525
16         Milwaukee Bucks  6949
17  Minnesota Timberwolves  6442
18    New Orleans Pelicans  6719
19         New York Knicks  6073
20   Oklahoma City Thunder  6452
21           Orlando Magic  6067
22      Philadelphia 76ers  6408
23            Phoenix Suns  6620
24  Portland Trail Blazers  6679
25        Sacramento Kings  6180
26       San Antonio Spurs  6432
27         Toronto Raptors  6554
28               Utah Jazz  6437
29      Washington Wizards  6597

In [32]:
calc_team_poss_df['offrtg'] = team_tot_df.PTS / calc_team_poss_df.tot_poss * 100

In [34]:
calc_team_poss_df

                 TEAM_NAME  GP    PACE  tot_poss      offrtg
0            Atlanta Hawks  60  103.44   6206.40  107.034674
1           Boston Celtics  58  100.00   5800.00  113.413793
2            Brooklyn Nets  57  101.58   5790.06  108.755350
3        Charlotte Hornets  58   96.66   5606.28  105.827750
4            Chicago Bulls  59  100.57   5933.63  106.107054
5      Cleveland Cavaliers  58   99.24   5755.92  107.402466
6         Dallas Mavericks  59   99.68   5881.12  117.001524
7           Denver Nuggets  58   97.59   5660.22  113.387819
8          Detroit Pistons  60   98.22   5893.20  109.668771
9    Golden State Warriors  58  101.16   5867.28  104.767456
10         Houston Rockets  58  103.87   6024.46  114.516488
11          Indiana Pacers  58   98.87   5734.46  110.577108
12             LA Clippers  58  102.64   5953.12  112.630016
13      Los Angeles Lakers  56  100.99   5655.44  113.695840
14       Memphis Grizzlies  58  103.56   6006.48  108.882407
15              Miami Heat  58   98.71   5725.18  113.970216
16         Milwaukee Bucks  58  105.38   6112.04  113.693628
17  Minnesota Timberwolves  57  103.63   5906.91  109.058713
18    New Orleans Pelicans  58  103.76   6018.08  111.646904
19         New York Knicks  58   99.21   5754.18  105.540668
20   Oklahoma City Thunder  58   99.19   5753.02  112.149793
21           Orlando Magic  58   98.31   5701.98  106.401636
22      Philadelphia 76ers  59   99.71   5882.89  108.926055
23            Phoenix Suns  59  101.85   6009.15  110.165331
24  Portland Trail Blazers  59  101.26   5974.34  111.794776
25        Sacramento Kings  57   98.93   5639.01  109.593705
26       San Antonio Spurs  57  100.62   5735.34  112.146795
27         Toronto Raptors  58  100.84   5848.72  112.058707
28               Utah Jazz  58   99.24   5755.92  111.832687
29      Washington Wizards  57  103.67   5909.19  111.639666

In [35]:
team_adv_df[['TEAM_NAME', 'OFF_RATING']]

                 TEAM_NAME  OFF_RATING
0            Atlanta Hawks       106.2
1           Boston Celtics       112.8
2            Brooklyn Nets       107.4
3        Charlotte Hornets       105.1
4            Chicago Bulls       105.5
5      Cleveland Cavaliers       106.7
6         Dallas Mavericks       116.3
7           Denver Nuggets       112.2
8          Detroit Pistons       108.8
9    Golden State Warriors       103.7
10         Houston Rockets       114.0
11          Indiana Pacers       109.8
12             LA Clippers       112.1
13      Los Angeles Lakers       113.2
14       Memphis Grizzlies       108.8
15              Miami Heat       112.0
16         Milwaukee Bucks       113.3
17  Minnesota Timberwolves       107.5
18    New Orleans Pelicans       110.5
19         New York Knicks       104.8
20   Oklahoma City Thunder       111.3
21           Orlando Magic       106.0
22      Philadelphia 76ers       108.3
23            Phoenix Suns       109.7
24  Portland Trail Blazers       111.4
25        Sacramento Kings       108.5
26       San Antonio Spurs       111.0
27         Toronto Raptors       111.3
28               Utah Jazz       111.7
29      Washington Wizards       111.1

In [36]:
calc_team_poss_df['defrtg'] = team_opp_tot_df.OPP_PTS / calc_team_poss_df.tot_poss * 100

In [37]:
calc_team_poss_df

                 TEAM_NAME  GP    PACE  tot_poss      offrtg      defrtg
0            Atlanta Hawks  60  103.44   6206.40  107.034674  115.203661
1           Boston Celtics  58  100.00   5800.00  113.413793  106.482759
2            Brooklyn Nets  57  101.58   5790.06  108.755350  108.910788
3        Charlotte Hornets  58   96.66   5606.28  105.827750  113.783115
4            Chicago Bulls  59  100.57   5933.63  106.107054  109.157463
5      Cleveland Cavaliers  58   99.24   5755.92  107.402466  115.620092
6         Dallas Mavericks  59   99.68   5881.12  117.001524  110.829230
7           Denver Nuggets  58   97.59   5660.22  113.387819  109.430375
8          Detroit Pistons  60   98.22   5893.20  109.668771  112.858888
9    Golden State Warriors  58  101.16   5867.28  104.767456  113.732428
10         Houston Rockets  58  103.87   6024.46  114.516488  109.885367
11          Indiana Pacers  58   98.87   5734.46  110.577108  108.501934
12             LA Clippers  58  102.64   5953.12  112.630016  106.969119
13      Los Angeles Lakers  56  100.99   5655.44  113.695840  106.340090
14       Memphis Grizzlies  58  103.56   6006.48  108.882407  111.379710
15              Miami Heat  58   98.71   5725.18  113.970216  110.721410
16         Milwaukee Bucks  58  105.38   6112.04  113.693628  102.093573
17  Minnesota Timberwolves  57  103.63   5906.91  109.058713  112.833952
18    New Orleans Pelicans  58  103.76   6018.08  111.646904  112.760216
19         New York Knicks  58   99.21   5754.18  105.540668  112.631166
20   Oklahoma City Thunder  58   99.19   5753.02  112.149793  108.951472
21           Orlando Magic  58   98.31   5701.98  106.401636  107.909884
22      Philadelphia 76ers  59   99.71   5882.89  108.926055  106.835246
23            Phoenix Suns  59  101.85   6009.15  110.165331  111.247015
24  Portland Trail Blazers  59  101.26   5974.34  111.794776  113.903795
25        Sacramento Kings  57   98.93   5639.01  109.593705  111.810406
26       San Antonio Spurs  57  100.62   5735.34  112.146795  113.820628
27         Toronto Raptors  58  100.84   5848.72  112.058707  105.219604
28               Utah Jazz  58   99.24   5755.92  111.832687  108.879206
29      Washington Wizards  57  103.67   5909.19  111.639666  115.650368

In [38]:
team_adv_df[['TEAM_NAME', 'DEF_RATING']]

                 TEAM_NAME  DEF_RATING
0            Atlanta Hawks       114.2
1           Boston Celtics       105.9
2            Brooklyn Nets       107.5
3        Charlotte Hornets       113.0
4            Chicago Bulls       108.6
5      Cleveland Cavaliers       114.8
6         Dallas Mavericks       110.4
7           Denver Nuggets       108.2
8          Detroit Pistons       111.8
9    Golden State Warriors       112.8
10         Houston Rockets       109.6
11          Indiana Pacers       107.7
12             LA Clippers       106.3
13      Los Angeles Lakers       106.0
14       Memphis Grizzlies       111.1
15              Miami Heat       109.1
16         Milwaukee Bucks       101.7
17  Minnesota Timberwolves       111.2
18    New Orleans Pelicans       111.9
19         New York Knicks       111.8
20   Oklahoma City Thunder       108.2
21           Orlando Magic       107.9
22      Philadelphia 76ers       106.3
23            Phoenix Suns       110.5
24  Portland Trail Blazers       113.5
25        Sacramento Kings       110.5
26       San Antonio Spurs       112.5
27         Toronto Raptors       104.5
28               Utah Jazz       108.6
29      Washington Wizards       115.0

# Calculate Player Ratings

## Offensive

In [39]:
player_adv_df.columns

Index(['Unnamed: 0', 'PLAYER_ID', 'PLAYER_NAME', 'TEAM_ID',
       'TEAM_ABBREVIATION', 'AGE', 'GP', 'W', 'L', 'W_PCT', 'MIN',
       'E_OFF_RATING', 'OFF_RATING', 'sp_work_OFF_RATING', 'E_DEF_RATING',
       'DEF_RATING', 'sp_work_DEF_RATING', 'E_NET_RATING', 'NET_RATING',
       'sp_work_NET_RATING', 'AST_PCT', 'AST_TO', 'AST_RATIO', 'OREB_PCT',
       'DREB_PCT', 'REB_PCT', 'TM_TOV_PCT', 'E_TOV_PCT', 'EFG_PCT', 'TS_PCT',
       'USG_PCT', 'E_USG_PCT', 'E_PACE', 'PACE', 'PACE_PER40', 'sp_work_PACE',
       'PIE', 'POSS', 'FGM', 'FGA', 'FGM_PG', 'FGA_PG', 'FG_PCT', 'GP_RANK',
       'W_RANK', 'L_RANK', 'W_PCT_RANK', 'MIN_RANK', 'E_OFF_RATING_RANK',
       'OFF_RATING_RANK', 'sp_work_OFF_RATING_RANK', 'E_DEF_RATING_RANK',
       'DEF_RATING_RANK', 'sp_work_DEF_RATING_RANK', 'E_NET_RATING_RANK',
       'NET_RATING_RANK', 'sp_work_NET_RATING_RANK', 'AST_PCT_RANK',
       'AST_TO_RANK', 'AST_RATIO_RANK', 'OREB_PCT_RANK', 'DREB_PCT_RANK',
       'REB_PCT_RANK', 'TM_TOV_PCT_RANK', 'E_TOV_PCT_RANK', 'EFG_PCT_RANK',
       'TS_PCT_RANK', 'USG_PCT_RANK', 'E_USG_PCT_RANK', 'E_PACE_RANK',
       'PACE_RANK', 'sp_work_PACE_RANK', 'PIE_RANK', 'FGM_RANK', 'FGA_RANK',
       'FGM_PG_RANK', 'FGA_PG_RANK', 'FG_PCT_RANK', 'CFID', 'CFPARAMS'],
      dtype='object')

In [40]:
calc_players_df = player_adv_df[['PLAYER_NAME', 'PACE']].copy()

In [67]:
calc_players_df['tot_poss'] = player_tot_df.MIN * (player_adv_df.PACE/48)

In [70]:
calc_players_df['tot_poss'] = player_adv_df.MIN * (player_adv_df.PACE/48) * player_adv_df.GP

In [71]:
calc_players_df['offrtg'] = player_tot_df.PTS / calc_players_df.tot_poss * 100

In [72]:
calc_players_df.head(n=10)

         PLAYER_NAME    PACE     tot_poss     offrtg
0       Aaron Gordon   99.07  3498.822167  21.607271
1      Aaron Holiday   99.80  2449.466250  20.657562
2        Abdel Nader  101.60  1360.170000  18.085975
3        Adam Mokoka  102.39   163.184063  12.256099
4  Admiral Schofield  103.17   625.898000  13.260947
5         Al Horford  100.70  3466.597500  18.086899
6    Al-Farouq Aminu  100.15   792.436875   9.843055
7         Alec Burks  102.07  3166.934396  25.955700
8     Alen Smailagic  104.89   302.869875  19.480313
9        Alex Caruso  102.75  2053.501563  14.414403

In [75]:
player_tot_df.columns

Index(['Unnamed: 0', 'PLAYER_ID', 'PLAYER_NAME', 'TEAM_ID',
       'TEAM_ABBREVIATION', 'AGE', 'GP', 'W', 'L', 'W_PCT', 'MIN', 'FGM',
       'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT',
       'OREB', 'DREB', 'REB', 'AST', 'TOV', 'STL', 'BLK', 'BLKA', 'PF', 'PFD',
       'PTS', 'PLUS_MINUS', 'NBA_FANTASY_PTS', 'DD2', 'TD3', 'GP_RANK',
       'W_RANK', 'L_RANK', 'W_PCT_RANK', 'MIN_RANK', 'FGM_RANK', 'FGA_RANK',
       'FG_PCT_RANK', 'FG3M_RANK', 'FG3A_RANK', 'FG3_PCT_RANK', 'FTM_RANK',
       'FTA_RANK', 'FT_PCT_RANK', 'OREB_RANK', 'DREB_RANK', 'REB_RANK',
       'AST_RANK', 'TOV_RANK', 'STL_RANK', 'BLK_RANK', 'BLKA_RANK', 'PF_RANK',
       'PFD_RANK', 'PTS_RANK', 'PLUS_MINUS_RANK', 'NBA_FANTASY_PTS_RANK',
       'DD2_RANK', 'TD3_RANK', 'CFID', 'CFPARAMS'],
      dtype='object')

In [76]:
# aaron gordon, total points scored against him

571*2 + 146*2 +107*2 + 19*3 + 35*3 + 230*3

2500

In [78]:
-1182500

2382

In [80]:
118+2500

2618

In [81]:
2618/3498.822167 * 100

74.82518044764635

In [53]:
player_tot_df.MIN

0      1696.776667
1      1178.620000
2       643.480000
3        76.416667
4       291.951667
          ...
505    2047.810000
506      40.801667
507      32.331667
508     369.541667
509      30.676667
Name: MIN, Length: 510, dtype: float64

In [51]:
player_adv_df[['PLAYER_NAME', 'OFF_RATING']].head(n=10)

         PLAYER_NAME  OFF_RATING
0       Aaron Gordon       106.6
1      Aaron Holiday       110.2
2        Abdel Nader       100.4
3        Adam Mokoka       115.7
4  Admiral Schofield       104.2
5         Al Horford       107.3
6    Al-Farouq Aminu        94.7
7         Alec Burks       101.3
8     Alen Smailagic       106.2
9        Alex Caruso       111.8

In [82]:
player_adv_df[['PLAYER_NAME', 'DEF_RATING']].head(n=10)

         PLAYER_NAME  DEF_RATING
0       Aaron Gordon       109.7
1      Aaron Holiday       108.1
2        Abdel Nader       103.0
3        Adam Mokoka        99.4
4  Admiral Schofield       108.7
5         Al Horford       104.7
6    Al-Farouq Aminu       100.1
7         Alec Burks       110.6
8     Alen Smailagic       109.2
9        Alex Caruso       100.0