In [31]:
import pandas as pd
import numpy as np

In [32]:
from nba_api.stats.static import players
from nba_api.stats.static import teams

In [33]:
curr_season = '2019-20'

In [34]:
from nba_api.stats.endpoints import LeagueDashTeamStats

In [35]:
team_tots_df = LeagueDashTeamStats(season=curr_season,
                                    per_mode_detailed='Totals').get_data_frames()[0]

team_tots_df.head()

,TEAM_ID,TEAM_NAME,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,...,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,CFID,CFPARAMS
0,1610612737,Atlanta Hawks,60,17,43,0.283,2905.0,2416,5404,0.447,...,30,9,9,30,30,5,7,29,10,Atlanta Hawks
1,1610612738,Boston Celtics,58,41,17,0.707,2799.0,2397,5167,0.464,...,8,10,8,24,22,17,10,3,10,Boston Celtics
2,1610612751,Brooklyn Nets,57,26,31,0.456,2771.0,2283,5145,0.444,...,25,27,22,22,14,18,23,14,10,Brooklyn Nets
3,1610612766,Charlotte Hornets,58,20,38,0.345,2804.0,2157,4997,0.432,...,15,26,26,18,5,15,30,27,10,Charlotte Hornets
4,1610612741,Chicago Bulls,59,20,39,0.339,2847.0,2322,5212,0.446,...,26,1,26,28,25,25,24,22,10,Chicago Bulls

In [36]:
team_tots_df.columns

Index(['TEAM_ID', 'TEAM_NAME', 'GP', 'W', 'L', 'W_PCT', 'MIN', 'FGM', 'FGA',
       'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB',
       'DREB', 'REB', 'AST', 'TOV', 'STL', 'BLK', 'BLKA', 'PF', 'PFD', 'PTS',
       'PLUS_MINUS', 'GP_RANK', 'W_RANK', 'L_RANK', 'W_PCT_RANK', 'MIN_RANK',
       'FGM_RANK', 'FGA_RANK', 'FG_PCT_RANK', 'FG3M_RANK', 'FG3A_RANK',
       'FG3_PCT_RANK', 'FTM_RANK', 'FTA_RANK', 'FT_PCT_RANK', 'OREB_RANK',
       'DREB_RANK', 'REB_RANK', 'AST_RANK', 'TOV_RANK', 'STL_RANK', 'BLK_RANK',
       'BLKA_RANK', 'PF_RANK', 'PFD_RANK', 'PTS_RANK', 'PLUS_MINUS_RANK',
       'CFID', 'CFPARAMS'],
      dtype='object')

In [37]:
team_adv_df = LeagueDashTeamStats(season=curr_season,
                                    measure_type_detailed_defense='Advanced').get_data_frames()[0]

team_adv_df.head()

,TEAM_ID,TEAM_NAME,GP,W,L,W_PCT,MIN,E_OFF_RATING,OFF_RATING,E_DEF_RATING,...,OREB_PCT_RANK,DREB_PCT_RANK,REB_PCT_RANK,TM_TOV_PCT_RANK,EFG_PCT_RANK,TS_PCT_RANK,PACE_RANK,PIE_RANK,CFID,CFPARAMS
0,1610612737,Atlanta Hawks,60,17,43,0.283,2905.0,103.5,106.2,111.8,...,17,29,28,28,25,22,7,28,10,Atlanta Hawks
1,1610612738,Boston Celtics,58,41,17,0.707,2799.0,110.7,112.8,104.0,...,8,11,11,8,10,9,17,3,10,Boston Celtics
2,1610612751,Brooklyn Nets,57,26,31,0.456,2771.0,104.8,107.4,105.5,...,6,9,8,25,24,25,10,14,10,Brooklyn Nets
3,1610612766,Charlotte Hornets,58,20,38,0.345,2804.0,102.9,105.1,110.7,...,9,30,26,24,27,28,30,30,10,Charlotte Hornets
4,1610612741,Chicago Bulls,59,20,39,0.339,2847.0,103.7,105.5,107.5,...,15,21,27,27,23,26,16,25,10,Chicago Bulls

In [38]:
team_adv_df.columns

Index(['TEAM_ID', 'TEAM_NAME', 'GP', 'W', 'L', 'W_PCT', 'MIN', 'E_OFF_RATING',
       'OFF_RATING', 'E_DEF_RATING', 'DEF_RATING', 'E_NET_RATING',
       'NET_RATING', 'AST_PCT', 'AST_TO', 'AST_RATIO', 'OREB_PCT', 'DREB_PCT',
       'REB_PCT', 'TM_TOV_PCT', 'EFG_PCT', 'TS_PCT', 'E_PACE', 'PACE',
       'PACE_PER40', 'POSS', 'PIE', 'GP_RANK', 'W_RANK', 'L_RANK',
       'W_PCT_RANK', 'MIN_RANK', 'OFF_RATING_RANK', 'DEF_RATING_RANK',
       'NET_RATING_RANK', 'AST_PCT_RANK', 'AST_TO_RANK', 'AST_RATIO_RANK',
       'OREB_PCT_RANK', 'DREB_PCT_RANK', 'REB_PCT_RANK', 'TM_TOV_PCT_RANK',
       'EFG_PCT_RANK', 'TS_PCT_RANK', 'PACE_RANK', 'PIE_RANK', 'CFID',
       'CFPARAMS'],
      dtype='object')

In [39]:
# total possession = pace * games played

In [40]:
from nba_api.stats.endpoints import LeagueDashPlayerStats

In [41]:
player_tots_df = LeagueDashPlayerStats(season=curr_season,
                                        per_mode_detailed='Totals').get_data_frames()[0]

player_tots_df.head()

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,MIN,...,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS
0,203932,Aaron Gordon,1610612753,ORL,24.0,52,24,28,0.462,1696.776667,...,447,362,53,78,438,58,30,25,5,"203932,1610612753"
1,1628988,Aaron Holiday,1610612754,IND,23.0,51,31,20,0.608,1178.620000,...,359,325,141,153,101,180,130,25,5,"1628988,1610612754"
2,1627846,Abdel Nader,1610612760,OKC,26.0,42,29,13,0.690,643.480000,...,185,209,283,274,341,304,221,25,5,"1627846,1610612760"
3,1629690,Adam Mokoka,1610612741,CHI,21.0,9,2,7,0.222,76.416667,...,106,88,436,435,139,441,221,25,5,"1629690,1610612741"
4,1629678,Admiral Schofield,1610612764,WAS,22.0,26,8,18,0.308,291.951667,...,120,173,377,382,328,393,221,25,5,"1629678,1610612764"

In [42]:
opp_tots_df = LeagueDashTeamStats(season=curr_season,
                                    per_mode_detailed='Totals',
                                    measure_type_detailed_defense='Opponent').get_data_frames()[0]
opp_tots_df.head()

,TEAM_ID,TEAM_NAME,GP,W,L,W_PCT,MIN,OPP_FGM,OPP_FGA,OPP_FG_PCT,...,OPP_TOV_RANK,OPP_STL_RANK,OPP_BLK_RANK,OPP_BLKA_RANK,OPP_PF_RANK,OPP_PFD1,OPP_PTS_RANK,PLUS_MINUS_RANK,CFID,CFPARAMS
0,1610612737,Atlanta Hawks,60,17,43,0.283,2905.0,2590.0,5439.0,0.476,...,7,29,30,9,26,1,30,29,10,Atlanta Hawks
1,1610612738,Boston Celtics,58,41,17,0.707,2799.0,2213.0,5015.0,0.441,...,8,5,24,8,14,9,4,3,10,Boston Celtics
2,1610612751,Brooklyn Nets,57,26,31,0.456,2771.0,2338.0,5306.0,0.441,...,27,15,22,22,13,17,12,14,10,Brooklyn Nets
3,1610612766,Charlotte Hornets,58,20,38,0.345,2804.0,2431.0,5089.0,0.478,...,16,23,18,26,16,26,15,27,10,Charlotte Hornets
4,1610612741,Chicago Bulls,59,20,39,0.339,2847.0,2331.0,4895.0,0.476,...,1,27,28,26,6,6,16,22,10,Chicago Bulls

In [43]:
players_adv_df = LeagueDashPlayerStats(season=curr_season,
                                        measure_type_detailed_defense='Advanced').get_data_frames()[0]
players_adv_df.head()

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,MIN,...,PACE_RANK,sp_work_PACE_RANK,PIE_RANK,FGM_RANK,FGA_RANK,FGM_PG_RANK,FGA_PG_RANK,FG_PCT_RANK,CFID,CFPARAMS
0,203932,Aaron Gordon,1610612753,ORL,24.0,52,24,28,0.462,32.6,...,460,460,168,72,64,87,77,271,5,"203932,1610612753"
1,1628988,Aaron Holiday,1610612754,IND,23.0,51,31,20,0.608,23.1,...,422,422,267,150,135,168,144,330,5,"1628988,1610612754"
2,1627846,Abdel Nader,1610612760,OKC,26.0,42,29,13,0.690,15.3,...,317,317,343,278,287,310,326,156,5,"1627846,1610612760"
3,1629690,Adam Mokoka,1610612741,CHI,21.0,9,2,7,0.222,8.5,...,264,264,483,437,434,434,430,366,5,"1629690,1610612741"
4,1629678,Admiral Schofield,1610612764,WAS,22.0,26,8,18,0.308,11.2,...,215,215,460,385,378,411,405,366,5,"1629678,1610612764"

In [44]:
players_adv_df.columns

Index(['PLAYER_ID', 'PLAYER_NAME', 'TEAM_ID', 'TEAM_ABBREVIATION', 'AGE', 'GP',
       'W', 'L', 'W_PCT', 'MIN', 'E_OFF_RATING', 'OFF_RATING',
       'sp_work_OFF_RATING', 'E_DEF_RATING', 'DEF_RATING',
       'sp_work_DEF_RATING', 'E_NET_RATING', 'NET_RATING',
       'sp_work_NET_RATING', 'AST_PCT', 'AST_TO', 'AST_RATIO', 'OREB_PCT',
       'DREB_PCT', 'REB_PCT', 'TM_TOV_PCT', 'E_TOV_PCT', 'EFG_PCT', 'TS_PCT',
       'USG_PCT', 'E_USG_PCT', 'E_PACE', 'PACE', 'PACE_PER40', 'sp_work_PACE',
       'PIE', 'POSS', 'FGM', 'FGA', 'FGM_PG', 'FGA_PG', 'FG_PCT', 'GP_RANK',
       'W_RANK', 'L_RANK', 'W_PCT_RANK', 'MIN_RANK', 'E_OFF_RATING_RANK',
       'OFF_RATING_RANK', 'sp_work_OFF_RATING_RANK', 'E_DEF_RATING_RANK',
       'DEF_RATING_RANK', 'sp_work_DEF_RATING_RANK', 'E_NET_RATING_RANK',
       'NET_RATING_RANK', 'sp_work_NET_RATING_RANK', 'AST_PCT_RANK',
       'AST_TO_RANK', 'AST_RATIO_RANK', 'OREB_PCT_RANK', 'DREB_PCT_RANK',
       'REB_PCT_RANK', 'TM_TOV_PCT_RANK', 'E_TOV_PCT_RANK', 'EFG_PCT_RANK',
       'TS_PCT_RANK', 'USG_PCT_RANK', 'E_USG_PCT_RANK', 'E_PACE_RANK',
       'PACE_RANK', 'sp_work_PACE_RANK', 'PIE_RANK', 'FGM_RANK', 'FGA_RANK',
       'FGM_PG_RANK', 'FGA_PG_RANK', 'FG_PCT_RANK', 'CFID', 'CFPARAMS'],
      dtype='object')

In [52]:
player_tots_df.to_csv('2019-20_player_traditonal_totals.csv')
players_adv_df.to_csv('2019-20_player_adv.csv')
team_adv_df.to_csv('2019-20_team_adv.csv')
team_tots_df.to_csv('2019-20_team_totals.csv')
opp_tots_df.to_csv('2019-20_opp_totals.csv')

In [46]:
#players_off_tots_df = LeagueDashPlayerStats(season=curr_season, measure_type_detailed_defense='Opponent').get_data_frames()[0]
#players_off_tots_df.head()

# This output is bugged. Look up individual total opponent points separately.

In [47]:
# Calculate total team possessions

In [48]:
# Calculate team offensive rating

In [49]:
# Calculate team defensive rating

In [50]:
# Calculate total player possessions for players of interest

# CJ
# Gallo